<!DOCTYPE html>
<html>

  <head>
    {{ partial "site-meta.html" . }}
    {{ partial "site-title.html" . }}
    {{ partial "site-scripts.html" . }}
    {{ partial "site-styles.html" . }}
  </head>

  <body>

    {{ partial "site-header.html" . }}

    <div class="flex flex-column min-vh-100">
    <div class="flex justify-between flex1">
      <div class="sidebar-display w-20 mw5 fixed-top-left mt6 sidefnt"> 
        {{ block "left-sidebar" . }}
        {{ end }}
      </div>
      <div class="body-width center pa4 mt5"> 
        {{ block "main" . }}
        {{ end }}
      </div>
      <div class="sidebar-display w-20 mw5 fixed-top-right mt6 sidefnt">
        {{ block "right-sidebar" . }}
        {{ end }}
      </div>
    </div>

    <div class="flexi">
    {{ partial "site-footer.html" . }}
    </div>
    </div>

  </body>



</html>

