{{ $currentPage := .Page }}
{{ $currentSection := .CurrentSection }}
{{ with .CurrentSection.Parent }} 
<nav id="CourseContents">
<ul id="root-nav">
  <li {{ if eq $currentPage .Page }} id="current-page" {{ end }}><a href="{{ .Permalink }}">{{ .Title | upper }}</a></li>
  <ul id="parent-nav">
  {{ range .Sections }} 
    <li {{ if eq $currentPage .Page }} id="current-page" {{ end }}><a href="{{ .Permalink }}">{{ .Title | upper }}</a>
    {{ if eq . $currentSection }}</li>
    <ul id="page-nav">
    {{ range .Pages }} 
      <li {{ if eq $currentPage .Page }} id="current-page" {{ end }}><a href="{{ .Permalink }}">{{ .Title | upper }}</a></li>
    {{ end }}
    </ul>
    {{ end }}
  {{ end }}
  </ul>
</ul>
</nav>
{{ end }}

