{{ $first_label := .Get 0 }}
{{ $second_label := .Get 1 }}

{{ $content := split .Inner "<--->" }}
{{ $first_content := index $content 0 }}
{{ $second_content := index $content 1 }}

<table class="w-100">
<tr class="">
<td class="w-10 ph2 v-top light-red bb -dark-blue"><p>{{ $first_label | markdownify }}</p></td>
<td class=""><p>{{ $first_content | markdownify }}</p></td>
</tr>
<tr>
<td class="v-top ph2 gold"><p>{{ $second_label | markdownify }}</p></td>
<td class=""><p>{{ $second_content | markdownify }}</p></td>
</tr>
</table>
